html, body {
    height: 100%;
    margin: 0;
}

p {
    position: absolute;
    top: 0;
    color: #5a5a5a;
    font-family: "DejaVu Sans", Arial, Helvetica, sans-serif;
}

#header1 {
    top: 15px;
    font-size: 15px;
}
#header2 {
    top: 40px;
    font-size: 13px;
}