body {
    padding: 0;
    margin: 40px;
}

p {
    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #5a5a5a;
}

#legend {
    position: absolute;
    top: 110px;
    left: 40px;
    width: 300px;
    height: 600px;
    background-color: #ffffff;
}
