html, body {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    margin-top: 80px;

    /* This centers our sketch horizontally. */
    justify-content: center;

    /* This centers our sketch vertically. */
    /*align-items: center;*/
}

p {
    position: absolute;
    top: 0;
    color: #5a5a5a;
    font-family: "DejaVu Sans", Arial, Helvetica, sans-serif;
}

#header1 {
    top: 10px;
    font-size: 15px;
}
#header2 {
    top: 35px;
    font-size: 13px;
}